.blacklayer
{
    width: 1282px;
}
.Logo
{
    font-family: 'Myriad Pro', sans-serif;
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 100px;
    text-decoration: none;
}
.Logo-color
{
    color: #4bcaff;
}
.panels
{
    background-color: #35444f;
    width: 1280px;
    height: 69px;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 180px;
    margin-left: 100px;

}
.panel1:hover
{
    background-color:  #222f3a;
}
.panel2:hover
{
    background-color:  #222f3a;
}
.panel3:hover
{
    background-color:  #222f3a;
}
.panel4:hover
{
    padding-right: 224px;
    background-color:  #222f3a;
}
.panel
{
    font-family: 'Myriad Pro', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 70px;
    display: inline-block;
    padding: 0px 25px 0px 25px;
    BORDER-LEFT: 1px solid;
}
.panel1
{
    padding-left: 250px;
}


.left-menu
{
    width: 344px;
    height: 375px;
    border: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 100px;
}
.first-menu-element
{
    font-family: 'Myriad Pro', sans-serif;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    transform: scaleY(1.0003);
    width: 302px;
    height: 75px;
    padding-left: 43px;
}
.first-menu-element:hover
{
    background-color: #dcdcdc;
}
.second-menu-element
{
    font-family: 'Myriad Pro', sans-serif;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    transform: scaleY(1.0003);
    width: 302px;
    height: 75px;
    padding-left: 43px;
}
.second-menu-element:hover
{
    background-color: #dcdcdc;
}
.third-menu-element
{
    font-family: 'Myriad Pro', sans-serif;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    transform: scaleY(1.0003);
    width: 302px;
    height: 75px;
    padding-left: 43px;;
}
.third-menu-element:hover
{
    background-color: #dcdcdc;
}
.fourth-menu-element
{    font-family: 'Myriad Pro', sans-serif;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    transform: scaleY(1.0003);
    width: 302px;
    height: 75px;
    padding-left: 43px;
}
.fourth-menu-element:hover
{
    background-color: #dcdcdc;
}
.fifth-menu-element
{
    font-family: 'Myriad Pro', sans-serif;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-align: left;
    transform: scaleY(1.0003);
    width: 302px;
    height: 75px;
    padding-left: 43px;
}
.fifth-menu-element:hover
{
    background-color: #dcdcdc;
}
.menu
{
    display: inline-block;
    margin: 0 auto;
    width: 1430px;
    height: 85px;
    text-align: center;
}
.menu-item
{
    display: inline;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;

}
.botton 
{
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
}
.ramda-img
{
    width: 885px;
    height: 529px;
    position: absolute;
    margin-left: 463px;
    border: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-top: -378px;
}
.pic
{
    position: absolute;
    top: 75px;
    left: 290px; 
}
.roditel
{
    position: relative;
    height: 270px;
    width: 900px;
    margin-top: 165px;
    margin-left: 471px;
}
.interior1
{
    font-family: 'Myriad Pro', sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.interior2
{
    margin-top: 20px;
    font-family: 'Myriad Pro', sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.footer
{
    width: 1280px;
    margin-top: 40px;
    margin-left: 100px;
    background-color: #b5b9bc;
    font-family: 'Myriad Pro', sans-serif;
    color:  #495863;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
}
.footer-text
{
    font-family: 'Myriad Pro', sans-serif;
    color: #041222;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
}
.section-1
{
    margin-left: 50px;
    margin-top: 0px;
}
.section-2
{
    margin-top: -89px;
    margin-left: 246px;
}
.section-3
{
    margin-top: -90px;
    margin-left: 483px;
}
.section-4
{
    margin-top: -90px;
    margin-left: 670px;
}
.section-5
{
    margin-top: -90px;
    margin-left: 1036px;
}

















