.document
{
    width: 1200px;
}
.top-tabs
{
    list-style-type: none;
    padding-inline-start: 322px;
    color: #16a085;
    font-family: roboto, sans-serif;
    width: 577px;
}
.top-tab
{
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
    padding-right: 50px;
    line-height: 50px;
}
.image
{
    width: 1200px;
}
.content
{
    width: 1200px;
    height: 600px;
    background-color: #f2f3f4;
}
.titletext
{
    background-color: #f2f3f4;
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-size: 22px;
    color: #373737;
    text-align: center;
    width: 1200px;
    line-height: 43px;
    padding-top: 30px;
    margin-bottom: 10px;
}
.text
{
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 900;
    color:  #373737;
    line-height: 26px;
    text-align: center;
}

.button
{
    margin-top: 40px;
    margin-left:525px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;

}
.text-button
{
    font-family: GothamRounded, sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding-top: 15px;
}
.footer
{
    font-family: Roboto, sans-serif;
    color: #373737;
    font-size: 16px;
    font-weight: 700;
    margin-left: 805px;
    line-height: 100px;
    width: 408px;
}

