.document
{
    width: 1366px;
    height: 768px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
}
.logo-link
{
    width: 166px;
    height: 44px;
    display: block;
    margin-top: 50px;
    margin-left: 155px;
}
.logo
{
    width: 46px;
    height: 44px;
}
.logo-text
{
    font-family: Verdana;
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    margin-left: 60px;
    margin-top: -56px;
}
.logo-text2
{
    font-family: Verdana;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 61px;
}
.orange-logo
{
    width: 46px;
    height: 44px;
    margin-top: -49px;
    margin-left: 0px;
    position: absolute;
     display: none; 
}
.logo-link:hover .orange-logo
{
    display: block;
}
.logo-link:hover .logo-text
{
    color: #f26522;
}
.logo-link:hover .logo-text2
{
    color: #f26522;
}
.contacts
{
    font-family: Verdana;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    margin-right: 150px;
    margin-top: -41px;
}
.options-list
{
    height: 550px;
    width: 1163px;
    list-style-type: none;
    margin-left: 115px;
    margin-top: -10px;
}
.option
{
    width: 307px;
    height: 250px;
    background-color: #fff;
    display: inline-block;
    margin-right: 65px;
    margin-top: 58px;
}
.option1:hover
{
    width: 307px;
    height: 250px;
}


.photo
{
    background-image: url(img/Layer\ 21.png);
    width: 307px;
    height: 200px;
}

.photo2
{
    background-image: url(img/Layer\ 22.png);
    width: 307px;
    height: 200px;
}
.photo3
{
    background-image: url(img/Layer\ 23.png);
    width: 307px;
    height: 200px;
}
.photo4
{
    background-image: url(img/Layer\ 24.png);
    width: 307px;
    height: 200px;
}
.photo5
{
    background-image: url(img/Layer\ 25.png);
    width: 307px;
    height: 200px;
}
.photo6
{
    background-image: url(img/Layer\ 26.png);
    width: 307px;
    height: 200px;
}





.price1 
{
    width: 100%;
    height: 61px;
    background-color: #f26522;
    margin-top: -50px;
    text-align: left;
    z-index: 5;
    display:none;
}
.option1:hover .price1
{
    display: block;
}
.option1:hover .photo1
{
    margin-top: -160px;
}
.price2 
{
    width: 100%;
    height: 61px;
    background-color: #f26522;
    margin-top: -50px;
    text-align: left;
    z-index: 5;
    display:none;
}
.price3 
{
    width: 100%;
    height: 61px;
    background-color: #f26522;
    margin-top: -50px;
    text-align: left;
    z-index: 5;
    display:none;
}
.price4
{
    width: 100%;
    height: 61px;
    background-color: #f26522;
    margin-top: -50px;
    text-align: left;
    z-index: 5;
    display:none;
}
.price5 
{
    width: 100%;
    height: 61px;
    background-color: #f26522;
    margin-top: -50px;
    text-align: left;
    z-index: 5;
    display:none;
}
.price6 
{
    width: 100%;
    height: 61px;
    background-color: #f26522;
    margin-top: -50px;
    text-align: left;
    z-index: 5;
    display:none;
}
.price-tag
{
    font-family: Verdana, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 0px 0px 0px 21px;
}
.from
{
    font-family: Verdana;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    padding: 16px 0px 0px 21px;
}
.details
{
    font-family: Verdana;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: -27px 0px 0px 185px;
}

.arrow
{
    border-top: 5px solid #0000;
    border-bottom: 5px solid #0000;
    transform: scale(0.99999);
    border-left: 3.5px solid #D6D8D8;
    position: absolute;
    margin-top: -13px;
    margin-left: 280px;
}
.arrow::before {
    content: '';
    border-top: 9px solid #0000;
    border-bottom: 9px solid #0000;
    border-left: 6px solid #f26522;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    margin-left: -7px;
  }