body
{
    background-image: url(img/rana-sawalha-364253-unsplash.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 770px;
    margin: 0px;
    background-size: 1365px 770px;
    background-size: cover;
    background-position: center;
    min-width: 1366px;
}
header
{
    width: 100%;
    height: 54px;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    text-align: left;
}
.header
{
    width: 1365px;
    height: 54px;
}
.journey-logo
{
    width: 90px;
    padding: 20px 0 0 80px;
}
.journey-logo-text
{
    font-family: Verdana, sans-serif;
    color: white;
    font-weight: bold;
}
.icons
{
    list-style-type: none;
    padding-inline-start: 0px;
    margin: -25px 0 0 920px;
}
.icon1
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(img/header-icons.png);
    cursor: pointer;
}
.icon2
{
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url(img/header-icons.png);
    background-position-x: -46px;
    cursor: pointer;
}
.icon3
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(img/header-icons.png);
    background-position-x: 46px;
    cursor: pointer;
}
.nav-pads
{
    list-style-type: none;
    margin-top: -25px;
    padding-inline-start: 1050px;
}
.nav-pad
{
    display: inline-block;
    color: white;
    font-family: Verdana, sans-serif;
    font-weight: regular;
    font-size: 13px; 
}
.nav-pad-link
{
    cursor: pointer;
    color: #3cb878;
}
585
445