.document
{
    height: 100%;
    background-attachment: fixed;
    margin: 0px auto;
    background-position: center;
    padding: 0px;
}
.first-page
{
    width: 100%;
    background-image:  url(StepProjectHam/SectionsBackground/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
}
.theHam-Header
{
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.4);
}
.header-content
{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.ham-header-tabs
{
    background-color: rgba(73, 71, 63, 0.6);
    width: 1200px;
    height: 75px;

}
.header-tabs-li
{
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 42px;
    padding-right: 6px;
    height: 61px;
    vertical-align: -25px;
}
.theHam-header-tab-list
{
    height: 75px;
    width: 540px;
    margin-top: -50px;
    list-style-type: none;
    padding-inline-start: 540px;
}
.header-tabs-text
{
    font-family: Montserrat, sans-serif;
    color: #b8b8b8;
    cursor: pointer;  
}





.auxiliary-class1:hover
{
    border-bottom: 3px solid #18cfab;
}
.auxiliary-class2:hover
{
    border-bottom: 3px solid #18cfab;
}
.auxiliary-class3:hover
{
    border-bottom: 3px solid #18cfab;
}
.auxiliary-class4:hover
{
    border-bottom: 3px solid #18cfab;
}
.auxiliary-class5:hover
{
    border-bottom: 3px solid #18cfab;
}
.auxiliary-class6:hover
{
    border-bottom: 3px solid #18cfab;
}
.auxiliary-class7:hover
{
    border-bottom: 3px solid #18cfab;
}
.auxiliary-class8:hover
{
    border-bottom: 3px solid #18cfab;
}
.auxiliary-class9:hover
{
    border-bottom: 3px solid #18cfab;
}







.header-ham-logo
{
    width: 36px;
    margin-top: 15px;
    margin-left: 245px;
}
.H-header-ham-logo
{
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    margin-left: 252.5px;
    margin-top: -39px;
}
.theHam-header-logo-text
{
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    line-height: 31px;
    text-align: left;
    margin-top: -33px;
    margin-left: 287px;
}
.theHam-header-logo-text-span
{
    font-family: Montserrat, sans-serif;
    color: #18cfab;
    font-size: 20px; 
    font-weight: 700;
    line-height: 31px; 
    text-align: left;
}


.first-page-content
{
    width: 1200px;
    margin: auto;
}
.Header-Slogan
{
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 9.53px;
    text-align: center;
    margin-top: 180px;
}
.green-color
{
    color:  #18cfab;

}
.We-are-creative-header-slogan
{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    margin-top: 29px;
}
.Header-description
{
    font-family: Montserrat, sans-serif;
    color:  #d4d4d4;
    font-size: 21px;
    font-weight: 300;
    line-height: 45px;
    text-align: center;
}
.explore-now-button
{
    font-family: Montserrat, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 3px;
    border-left: 0px;
    border-right: 0px;
    background-color:  #18cfab;
    width: 105px;
    height: 40px;
    margin-left: 480px;
}
.button-value
{
    color:  #ffffff;
    font-size: 9px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
}
.purchase-now-button
{
    border-radius: 5px 5px 5px 5px;
    border-bottom: 3px;
    border-left: 0px;
    border-right: 0px;
    width: 105px;
    height: 40px;
    background-color:  #00cbf6;
    margin-left: 20px;
}



.ham-adventages
{
    width: 100%;
    height: 20%;
}
.the-Ham-adventages-tabs
{
    width: 25%;
    height: 230px;
    font-family: Montserrat, sans-serif;
    color: #18cfab;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    display: inline-block;
}
.different-theme-option
{
    margin: 0 0 0 -4px;
    background-color:  #1c2a33;
    border-top: 3px solid  #18cfab;
}
.different-theme-option-img
{
    margin-top: 61px;
    width: 36px;
    height: 60px;
}
.adventages-tab1-text
{
    margin-top: 30px; 
}
.adventages-tab2-text
{
    margin-top: 37px; 
}
.fully-customizable
{
    margin: 0 0 0 -4px;
    background-color:  #18cfab;
    border-top: 3px solid  white;
    color: white
}
.fully-customizable-img
{
    margin-top: 67px;
    width: 58px;
    height: 47px; 
}
.unlimited-support-img
{
    margin-top: 53px;
    width: 45px;
    height: 68px;  
}
.unlimited-support
{
    margin: 0 0 0 -4px;
    background-color:  #1c2a33;
    border-top: 3px solid  #18cfab;
}
.responsive-all-device-img
{
    margin-top: 67px;
    width: 58px;
    height: 47px;   
}
.responsive-all-device
{ 
    margin: 0 0 0 -4px;
    background-color:  #18cfab;
    border-top: 3px solid  white;
    color: white
}




.second-page-header
{
    margin-top: 80px;
    font-family: Montserrat, sans-serif;
    color: #4e4e4e;
    font-size: 23px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 16px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.ui-hr
{
    width: 55px;
    margin: auto;
}

.ui-checkboxradio-label .ui-icon-background {
	box-shadow: inset 1px 1px 1px #ccc;
	border-radius: 10;
    border: none
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
A {
    color:  #717171; /* Цвет ссылок */
   }
A:visited {
    color:  #717171; /* Цвет посещенных ссылок */
   }
A:active {
    color:  #717171; /* Цвет активных ссылок */
   }
.tablist-2nd-page
{
    list-style-type: none;
    padding-inline-start: 0px;
    width: 730px;
    margin: auto;
}
.tab1-page2
{
    background-color: #f8fcfe;
    color: #000;
    width: 120px;
    height: 45px;
    border: 1px solid #eff0f1;
    list-style-image: none;
    line-height: 40px;
    margin-top: 30px;
}
.tab2-page2
{
    background-color: #f8fcfe;
    color: #000;
    width: 120px;
    height: 45px;
    border: 1px solid #eff0f1;
    list-style-image: none;
    margin-top: -47px;
    line-height: 40px;
}
.tab3-page2
{
    background-color: #f8fcfe;
    color: #000;
    width: 120px;
    height: 45px;
    border: 1px solid #eff0f1;
    list-style-image: none;
    margin-top: -47px;
    line-height: 40px;
}
.tab4-page2
{
    background-color: #f8fcfe;
    color: #000;
    width: 120px;
    height: 45px;
    border: 1px solid #eff0f1;
    list-style-image: none;
    margin-top: -47px;
    line-height: 40px;
}
.tab5-page2
{
    background-color: #f8fcfe;
    color: #000;
    width: 120px;
    height: 45px;
    border: 1px solid #eff0f1;
    list-style-image: none;
    margin-top: -47px;
    line-height: 40px;
}
.tab6-page2
{
    background-color: #f8fcfe;
    color: #000;
    width: 120px;
    height: 45px;
    border: 1px solid #eff0f1;
    list-style-image: none;
    margin-top: -47px;
    line-height: 40px;
}
.tabs-page2
{
    display: inline-block;
    margin-right: -4px;
}
.tabs-link
{
    display: block;
    height: 45px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    color:  #717171;
    padding-top: 15px;
    font-size: 12px;
    outline: 0 !important;
    line-height: 15px;
}


.first-tab-page-2
{
    margin: auto;
    margin-top: 65px;
    width: 730px;
}


.first-tab-page-2-content
{
    width: 193px;
    height: 73px;
}

.first-tab-2nd-page-img
{
    margin-top: -40px;
    width: 128px;
    height: 88px;
}
.first-tab-page-2-text
{
    margin-top: -105px;
    margin-left: 135px;
    width: 650px;
    font-family: Montserrat, sans-serif;
    color: #777;
    font-size: 10.64px;
    font-weight: 300;
    line-height: 16px;
}
.tabs-on-second-page
{
    width: 120px;
    height: 46px;
    font-family: Montserrat, sans-serif;
    color:  #717171;
    font-size: 9.98px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    background-color: #ecf0f1;
}




.third-page-header {
    background-image: url(./StepProjectHam/SectionsBackground/bg-2.png);
    height: 300px;
    width: 100%;
    margin-top: 125px;
    background-repeat: no-repeat;
    background-size: cover;
}
.auxiliary-opacity-div-third-page
{
    background-color:  rgba(0, 0, 0, 0.78);
    opacity: 0,7;
    height: 100%;
}
.Header-Slogan2
{
    font-family: Montserrat, bold, sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 9.53px;
    text-align: center;
    padding-top: 80px;
}
.Header-description2
{
    font-family: Montserrat, sans-serif;
    color: #d4d4d4;
    font-size: 12px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
}
.purchase-now-button2
{
    font-family: Montserrat, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 3px;
    border-left: 0px;
    border-right: 0px;
    background-color: #18cfab;
    width: 105px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}




.third-page-headline
{
    margin-top: 100px;
    font-family: Montserrat, sans-serif;
    color: #4e4e4e;
    font-size: 23px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 16px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}





.third-page-tabs
{
    width: 401px;
    margin: auto;
}
.tablist-third-page
{
    list-style-type: none;
    padding-inline-start: 0px;
}
.tabs-page3
{
    background-color: #f8fcfe;
    display: inline-block;
    color: #000;
    border: 1px solid #eff0f1;
    list-style-image: none;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 25px;
    margin-right: -5px;
    cursor: pointer;
}

.tabs-link2
{
    display: block;
    height: 45px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: #717171;
    padding-top: 8px;
    font-size: 12px;
    line-height: 0px;  
}



.tab1-pg3
{
    width: 710px;
    margin-left: -145px;
}
.photo-list
{
    list-style-type: none;
    width: 750px;
    margin-top: 50px;
    padding-inline-start: 0px;
}
.photos-in-photolist
{
    width: 180px;
    height: 130px;
    display: inline-block;
    margin-right: -4px;
    margin-top: -5px;
}
.forma-1
{
    margin-top: 30px;
    margin-left: 60px;
    width: 25px;
    height: 25px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}
.forma-2
{
    margin-top: -27px;
    margin-left: 90px;
    width: 25px;
    height: 25px;
    border: 1px solid #18cfab;
    background-color: #18cfab;
    border-radius: 50%;
}
.top-line
{
    height: 2px;
    width: 100%;
    background-color: #18cfab;
}
.photo-li-text
{
    font-family: Montserrat, sans-serif;
    color: #18cfab;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
.photo-li-description
{
    font-family: Montserrat, sans-serif;
    color: #d4d4d4;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}
.li-photos
{
    width: 180px;
    height: 130px;
}
.auxiliary-class15
{
    width: 180px;
    height: 130px;
    position: absolute;
}
.fas {
    font-weight: 900;
    margin: 8px 0px 0px 8px;
    font-size: 9px;
    color: white;
}
.connection-icon
{
    margin: 7px 0px 0px 7px;
    height: 10px;
}


.load-more-button
{
    font-family: Montserrat, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: #18cfab;
    width: 85px;
    height: 40px;
    margin-left: 315px;
    margin-top: 20px;
    font-size: 10px;
    font-weight: 700;
}

.li-photos2
{
    width: 180px;
    height: 130px;
    display: none;
}
.photo-list2
{
    list-style-type: none;
    width: 750px;
    margin-top: 50px;
    margin-left: -150px;
    padding-inline-start: 0px;
}
.tab2-pg3
{
    display:none;
}
.tab3-pg3
{
    display: none
}
.tab4-pg3
{
    display: none;
}
.tab5-pg3
{
    display: none;
}



.fourth-page-headline
{
    margin-top: -300px;
    font-family: Montserrat, sans-serif;
    color: #4e4e4e;
    font-size: 23px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 16px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}



.breaking-news
{
    width: 100%
}
.breaking-news-block
{
 width: 720px;
 height: 400px;
 margin-left: -150px;
}
.breaking-news-list
{
    list-style-type: none;
    margin-left: -40px;
}
.tab-link
{
    height: 100%;
    width: 100%;
}
.breaking-news-list-item
{
    background-color: #00f;
    display: inline-block;
    height: 188px;
    width: 167px;
    margin-right: 9px;
    margin-top: 10px;
    cursor: pointer;
}
.news-li-photo-div
{
    width: 100%;
    height: 130px;
}
.news-description
{
    width: 98.8%;
    height: 58px;
    background-color: #f8fcfe;
    border-bottom: 1px solid #eff0f1;
    border-left: 1px solid #eff0f1;
    border-right: 1px solid #eff0f1;
    margin-left: 0px;
    font-family: Montserrat, sans-serif;
    color:  #717171;
    font-weight: 700;
}
.news-data-div
{
    font-family: Montserrat, sans-serif;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #203e38;
    margin-left: 76%;
    text-align: center;
    font-size: 10px;
    margin-top: -10px;
}
.date
{
    padding-top: 8px;
}
.month
{
 line-height: 0px;
}
.news-first-tab-photo
{
    background-image: url(./StepProjectHam/wordpress/Layer\ 47.png)
}
.news-second-tab-photo
{
    background-image: url(./StepProjectHam/wordpress/Layer\ 50.png)
}
.news-third-tab-photo
{
    background-image: url(./StepProjectHam/wordpress/Layer\ 51.png)
}
.news-fourth-tab-photo
{
    background-image: url(./StepProjectHam/wordpress/Layer\ 52.png)
}
.news-fifth-tab-photo
{
    background-image: url(./StepProjectHam/wordpress/Layer\ 53.png)
}
.news-sixth-tab-photo
{
    background-image: url(./StepProjectHam/wordpress//Image.png)
}
.news-seventh-tab-photo
{
    background-image: url(./StepProjectHam/wordpress/Layer\ 55.png)
}
.news-eighth-tab-photo
{
    background-image: url(./StepProjectHam/wordpress/Layer\ 56.png)
}
.post-headline
{
    padding-top: 10px;
    padding-left: 8px;
    font-size: 12px;
}
.comment
{
        font-family: Montserrat, sans-serif;
    color: #777;
    font-weight: 300;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}


.Ham-reviews-block
{
    margin-top: 100px;
    width: 100%;
    height: 530px;
    background-image: url(StepProjectHam/SectionsBackground/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fifth-page-headline
{
    padding-top: 60px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 23px;
    font-weight: 200;
    line-height: 16px;
    text-align: center;
}
.fa-quote-left
{
    font-size: 30px;
    margin-left: 585px;
    margin-top: 35px;
    color: #18cfab
}
.pg5-header-description
{
    font-family: Montserrat, sans-serif;
    color: #bbb;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}
.reviewer-name
{
    font-family: Montserrat, sans-serif;
    color: #18cfab;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.reviewer-specialization
{
    font-family: Montserrat, sans-serif, light;
    color: #fff;
    font-weight: 100;
    font-size: 10px;
    text-align: center;
}
.reviewer-photo
{
    width: 90px;
    height: 90px;
    text-align: center;
    display: block;
}
.reviewer-photo-shell
{  
    width: 90px;
    height: 90px;
    border: solid 2px #18cfab;
    border-radius: 50%;
    margin-left: 558px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px 10px rgba(24, 207, 171, 0.2);
}

.reviewer-switch-list
{
    list-style-type: none;
    padding-inline-start: 395px;
    text-align: center;
    margin-top: 45px;
    position: absolute;
}
.arrow-back-block
{
    width: 28px;    
    height: 28px;
    border: 0.2px solid #fff;
    margin-top: 30px;
}
.arrow-back-block:hover
{
    background-color: #18cfab;
    border: none;
}
.arrow-back 
{
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(-45deg);
    margin: 8px 0px 0px 11px;
    position: absolute;
}
.switch
{
    display: inline-block;
    padding-right: 25px;
    cursor: pointer;
} 
.reviewer
{
    display: inline-block;
    padding-right: 80px;
    cursor: pointer;
}
.rev-imgblock
{
    position: absolute;
    margin-top: -45px;
    box-shadow: 0px 0px 0px 5px rgba(24, 207, 171, 0.2);
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.rev-img
{
    height: 60px;
    width: 60px;
}
.switch2
{
    display: inline-block;
    padding-right: 25px;
    cursor: pointer;
}
.arrow-forward-block
{
    width: 28px;    
    height: 28px;
    border: 0.2px solid #fff;
    margin-top: 30px;
}
.arrow-forward-block:hover
{
    background-color: #18cfab;
    border: none;
}
.arrow-forward
{
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(135deg);
    margin: 8px 0px 0px 5px;
    position: absolute;
}
.rev-imgblock3
{
    margin-top: -58px;
    transition: margin-top 0.3s ease 0s;
    border: 1.1px solid #18cfab;
}



.ui-hr1
{
    width: 50px;
    height: 1px;
    background-color: #18cfab;
    margin-top: 30px;
}
.ui-hr2
{
    margin-top: 2px;
    width: 50px;
    height: 1px;
    background-color: #18cfab;
    margin-left: 20px;
}
/* .theHam-header-tabs-hover:hover
{
    color:  #18cfab;
    border-bottom: 2px solid #18cfab;
    height: 25px;
} */
